.button {
  color: var(--color-alert);
  display: flex;
  //display: inline-block;
  border: 1px solid; // Por defecto usa el color del texto
  padding: .5em 1em;
  border-radius: .25rem;

  &:hover {
    background: var(--color-alert);
    color: #419641;
  }
  & > .svg-icon {
    width: 1rem;
    height: 1rem;
  }
}

.button-success {
	background: $color-button-success;
  color: $color-text-white;
  display: flex;
  //display: inline-block;
  border: 1px solid; // Por defecto usa el color del texto
  padding: .5em 1em;
  border-radius: .25rem;

  &:hover {
    background: $color-button-hover-success;
	}

  & > .svg-icon {
    width: 1rem;
    height: 1rem;
  }
}

.button-secondary {
	background: $color-button-secondary;
  color: $color-text-normal;
  display: flex;
  //display: inline-block;
  border: 1px solid; // Por defecto usa el color del texto
  padding: .5em 1em;
  border-radius: .25rem;

  &:hover {
    background: $color-button-hover-secondary;
	}

  & > .svg-icon {
    width: 1rem;
    height: 1rem;
  }
}

.button-icon-danger {
	background: $color-bg-white;
  color: $color-button-danger;
  display: flex;
  //display: inline-block;
  border: 1px solid $color-border-form-2; // Por defecto usa el color del texto
  padding: .5em .5em;
  border-radius: .25rem;

  &:focus {
    background: $color-button-hover-success;
	}

  & > .svg-icon {
    width: 1rem;
    height: 1rem;
	}

  & > svg {
		fill: $color-button-danger;
    width: 1rem;
    height: 1rem;
  }
}

.btn {
  background-color: $color-button-primary; //DodgerBlue;
  border: none;
	margin: 0 0.3em 0.3em 0;
  color: white;
  padding: 12px 16px;
	border-radius: .25rem;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: $color-button-hover-primary;//RoyalBlue;
}

.btn-secondary {
	background-color: $color-bg-white;
	border: 1px solid $color-button-hover-secondary;
	color: $color-text-normal;
}

.btn-secondary:hover {
	background-color: $color-button-hover-secondary;
}
